@import "../css/fonts.css";
$bg-accent: #a8b5b8;
$bg: #dcdcdc;
$white: #ffffff;
$yellow: #ffff8a;
$red: #ff6767;
$dark-red: #bd5e52;
$text-accent: #474b4e;
$text-dark: #282828;
$card: #f7f3e4;
$card-active: #eedddf;

// $testColorDelete: #bebad1;

$screen-xs: 320px;
// Small devices (landscape phones, 576px and up)
$screen-sm: 576px;
$screen-sm-max: 767px;
// Medium devices (tablets, 768px and up)
$screen-md: 768px;
$screen-md-max: 991px;
// Large devices (desktops, 992px and up)
$screen-lg: 992px;
$screen-lg-max: 1199px;
// X-Large devices (large desktops, 1200px and up)
$screen-xl: 1200px;
$screen-xl-max: 1399px;
// XX-Large devices (larger desktops, 1400px and up)
$screen-xxl: 1400px;

@mixin font-Nunito {
  font-family: "Nunito", sans-serif;
  color: $text-dark;
}

@mixin font-Oswald {
  font-family: "Oswald", sans-serif;
  color: $text-accent;
}

body {
  @include font-Nunito;
}

.wrapper {
  margin: 0 auto;
}

.header {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  height: 200px;
  max-height: 25vh;
  background-color: $bg-accent;
  color: $text-accent;
}

.title {
  @include font-Oswald;
  padding-bottom: 20px;
  text-align: center;
  font-size: 48px;
  line-height: 1.5;
  font-weight: bold;
}

.tabs-nav {
  display: flex;
  justify-content: center;
  background-color: $bg;

  &__item {
    max-width: 80px;
    margin: 20px;
    padding: 5px;
    cursor: pointer;
    flex: 1;

    &.is-active {
      border-bottom: 3px solid transparent;
      border-image: linear-gradient(to right, $red, $yellow);
      border-image-slice: 1;
      font-weight: bold;
    }
  }
}

.tabs__content {
  display: flex;
  justify-content: center;
  padding: 15px;

  .tab {
    display: none;
    // margin: 30px;
    // padding: 10px;

    // border: 1px solid $bg-accent;
    // !!!!!!!!! добавить медиа-квери на md и lg
    flex: 1;
    background-color: $white;
  }

  .tab.is-active {
    display: block;
  }

  @media (min-width: $screen-sm) {
    padding: 30px;
  }
}

.tab-1 {
  max-width: 600px;

  &__subtitle {
    @include font-Oswald;
    text-align: center;
    font-size: 32px;
  }
  &__text {
    font-size: 16px;
    text-indent: 30px;

    &::first-letter {
      font-size: 21px;
    }
  }

  &__link {
    @include font-Oswald();
    text-align: center;
    text-transform: uppercase;

    a {
      text-decoration: none;
      transition: color 0.3s ease-in;

      &:hover {
        color: $dark-red;
      }
    }
  }
}

.tab-2 {
  max-width: 1000px;
  // margin-top: 20px;

  &__subtitle {
    @include font-Oswald;
    text-align: center;
    font-size: 32px;
  }

  &__cards {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }

  &__modal {
    // display: none;
    // padding: 30px;
  }
}

// .modal-overlay.active {
//   opacity: 1;
//   pointer-events: all;
//   transition: 0.5s all;
// }

.modal-overlay {
  position: fixed;
  top: 0px;
  right: 0px;
  left: 0px;
  bottom: 0px;
  // возможно, меньше на тлф
  padding: 30px 5px 15px;
  z-index: 100;
  background-color: rgba(0, 0, 0, 0.5);

  // !!!!!! ИЗМЕНИТЬ ВРЕМЯ
  // не работает
  transition: 5s all;

  @media (min-width: $screen-sm ) {
    padding: 30px 15px 15px;
  }

  .modal-window {
    position: absolute;
    display: flex;
    flex-direction: column;
    margin: auto;
    max-width: 820px;
    height: 100%;
    position: relative;

    background-color: $bg;
    border-radius: 5px;

    &__header {
      margin-bottom: 7px;
    }
    &__body {
      height: 100%;
    }
    &__footer {
      a {
        @include font-Oswald();
        // text-align: center;
        text-transform: uppercase;
        text-decoration: none;
        transition: color 0.3s ease-in;

        &:hover {
          color: $dark-red;
        }
      }
    }
  }
}

.modal-header {
  padding: 20px;
  display: flex;
  justify-content: space-between;

  &__title {
    @include font-Oswald;
    font-size: 32px;
  }

  &__close {
    font-size: 32px;
    cursor: pointer;
  }
}

.modal-body {
  display: flex;
  flex-direction: column;
  background-color: $bg-accent;
  width: 100%;
  height: 100%;
  

  &__slidebar {
    width: 100%;
    height: 100%;
  }

  &__text {
    margin: 10px;

    @media (min-width: $screen-sm) {
      margin: 20px;
    }
  }
}

.slidebar {
  position: relative;
  // display: flex;
  // flex-direction: column;
  // justify-content: center;
  // align-items: center;
  overflow: hidden;

  &__slides {
    // max-width: 100%;
    position: absolute;
    width: 100%;
    height: 100%;
    transition: all 0.5s ease-in-out;
  }

  &__img {
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    display: block;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    
    @media (min-width: $screen-sm ) {
      padding: 5px;
    }

    img {
      max-width: 100%;
      max-height: 100%;
    }
  }

  &__btns {
    height: 100%;
    width: 100%;
    padding: 10px;
    // position: absolute;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    button {
      z-index: 1000;
      width: 70px;
      background: linear-gradient(to bottom, $yellow 10%, $red 60%, $red);
      background-size: 100% 200%;
      background-position: 0 100%;
      opacity: 0.5;
      box-shadow: 0 0 5px 3px $red;
      font-size: 20px;
      padding: 0px 15px;
      border: 0;
      cursor: pointer;
      transition: opacity 0.2s, box-shadow 0.4s,
        background-position 0.5s ease-out 0.2s;

      &:hover {
        background-position: 0 0;
        opacity: 1;
        box-shadow: none;
      }
    }
  }
}

.modal-footer {
  padding: 10px;

  @media (min-width: $screen-sm) {
    padding: 20px;
  }

  a {
    display: block;
    text-align: left;
    
    @media (min-width: $screen-sm) {
      display:inline;
      margin-left: 20px;
    }
  }
}

.tab-cards {
  margin: 0 -15px;

  &__item {
    flex-grow: 1;
    max-width: 360px;
    
    @media (min-width: $screen-sm ) {
      margin: 30px;
    }
  }
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  z-index: 10;
  // outline: 1px solid black;
  padding: 20px;
  // border-radius: 20px;
  background: linear-gradient(135deg, $white 65%, $card 95%, $card-active);
  
  @media (min-width: $screen-sm ) {
    min-width: 300px;
    min-height: 300px;
  }

  &__helper {
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    opacity: 0;
    background: linear-gradient(135deg, $white 75%, $yellow 85%, $red);
    transition: opacity 0.3s linear;
  }

  &:hover &__helper {
    opacity: 1;
  }

  &__img {
    align-self: flex-start;
    // background-color: $bg;
    width: 100%;
    height: 100%;
    margin-bottom: 20px;
  }

  &__content {
    display: flex;
    justify-content: space-between;

    .button-main {
      font-size: 16px;
      font-weight: bold;
      padding: 25px;
      outline: none;
      border: none;
      border-radius: 5px;
      // border-top: none;
      // border-left: none;
      // border-right: 1px solid $red;
      // border-bottom: 1px solid $red;
      background-color: rgba(0, 0, 255, 0);
      // background-color: $white;
      cursor: pointer;
      text-decoration: none;
      display: inline-block;
      transition: all 0.5s ease-out;

      &:hover {
        // background-color: $red;
        background-color: $white;
        // box-shadow: 0 0 5px 20px $red;
      }
    }
  }
}

.content {
  &__subtitle {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
  }

  &__text {
    margin-right: 50px;

    span {
      display: inline-block;
      padding: 5px;
      font-weight: bold;
      opacity: 0.75;
      border-radius: 7px;
      margin: 2px;
    }
  }
}

.tab-3 {
  text-align: center;

  &__title {
    font-size: 18px;
  }
}
.section {
  margin-top: 20px;
  &__title {
    @include font-Oswald();
    font-size: 25px;
  }

  &__content {
    padding: 0;
  }
}

.socials {
  li {
    list-style: none;
    display: inline-block;
    margin: 10px;

    a {
      text-decoration: none;

      &:hover {
        border-bottom: 1px solid transparent;
        border-image: linear-gradient(to right, $red, $yellow);
        border-image-slice: 1;

        svg {
          stroke: $red;
        }
      }

      svg {
        stroke: $text-accent;
        transition: stroke 0.5s ease-out;
      }
    }
  }
}
