@font-face {
  font-family: "Nunito";
  src: url("../../../assets/fonts/Nunito/Nunito-VariableFont_wght.ttf");
}

@font-face {
  font-family: "Oswald";
  src: url("../../../assets/fonts/Oswald/Oswald-VariableFont_wght.ttf");
}
