/* @import "./fonts.css";

body {
  background-color: beige;
  font-family: "Nunito", sans-serif;
  font-size: 18px;
}

h1 {
  text-align: center;
  font-family: "Oswald";
}

.container {
  max-width: 1170px;
  width: 100%;
}

.container img {
  width: 100%;
} */
